@model IEnumerable<Brand_Clothes_Store.Models.Order>

<h2>Orders</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Order</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th>Payment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User?.FullName</td>
                <td>@item.CreatedAt.ToShortDateString()</td>
                <td>@item.TotalPrice</td>
                <td>@item.orderStatus</td>
                <td>@(item.Payment != null ? item.Payment.ToString() : "Not Paid")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
